h1, h2, h3, h4, li, button {
    color: white;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
}

.background {
    z-index: 1;
    background: rgb(77,0,65);
    background: linear-gradient(90deg, rgba(77,0,65,1) 0%, rgba(5,0,94,1) 30%, rgba(4,0,77,1) 50%, rgba(5,0,83,1) 75%, rgba(35,0,101,1) 90%, rgba(96,0,115,1) 100%);
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 30s ease infinite;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% {
        background-position: 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    0% {
        background-position: 0 50%;
    }
}

.main-container {
    background-color: rgba(97, 97, 97, 0.2);
    height: 80%;
    width: 90%;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(55.5px);
    /* background-color: white; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
}

.side-bar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
}

.main-option-container {
    height: 100%;
    width: 80%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-drop-down {
    width: 5%;
    height: 5%;
    background-color: red;
}

.options {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar-options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.side-bar-option-div {
    margin-top: 30px;
    background-color: rgba(150, 150, 150, 0.3);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(55.5px);
    color: white;
    border: transparent;
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.side-bar-option-button {
    background-color: transparent;
    width: 100%;
    border-radius: 15px;
    border: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.log-out-div {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.inner-div {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text horizontally */
}

.inner-div.block {
    display: block;
}


.live-chat {
    width: 30%;
    height: 90%;
    background-color: blue;
    border: none;
    font-size: 40px;
    border-radius: 20px;
    margin-right: 20px;
}

.inner-row {
    width: 80%;
    height: 40%;
}

.live-chat-activation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-chat-buttons {
    padding: 10px;
    font-size: 30px;
    background-color: rgba(150, 150, 150, 0.3);
    border: none;
    border-radius: 8px;
}

.update-profile-div {
    width: 500px;
    height: 600px;
}

h1, h2, h3, h4, h5, label {
    color: white;
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    z-index: 1;
    background: rgb(77,0,65);
    background: linear-gradient(90deg, rgba(77,0,65,1) 0%, rgba(5,0,94,1) 30%, rgba(4,0,77,1) 50%, rgba(5,0,83,1) 75%, rgba(35,0,101,1) 90%, rgba(96,0,115,1) 100%);
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 30s ease infinite;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% {
        background-position: 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    0% {
        background-position: 0 50%;
    }
}

form {
    background-color: rgba(97, 97, 97, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    color: white;
    background-color: rgba(150, 150, 150, 0.3);
}

input::placeholder {
    color: white;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}